*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boton_register {
    background-color: gold;
    text-align: center;
    border-radius: 5px;
    
}

.icono_ojo {
    position: absolute;
    top: 190px;
    font-size: 24px;
    right: 50px;
}

.border_color {
    padding: 2%;
    border-style:solid;
    border-color: yellow;
    margin-bottom:  95px;
    border-width: 1px;
    border-radius: 5px;
    
}
.login_inicio {
    text-align: center;
}