.button  {
    background-color: yellow;
    width: 100%;
    color: black;
    border: yellow;
    border-radius: 5px;
    margin-top: 180px;
}

.span{
    color: gray;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  width: 232px;
  display: flex;
 
  position: absolute;
  margin-left: 52px;
  text-align: center;

}
.imagen_login img{
   
    margin-left: 140px;
    margin-top: 30px;
}